.env
linkedin_proposal/.env
/home/mory/jobProject/resumeBuilder2/uploads
/home/mory/jobProject/Website/uploads
/home/mory/jobProject/CoverLetter/outputs
/home/mory/jobProject/CoverLetter/.ipynb_checkpoints

